@import "./variables";
@import "./mixins";

html {
  @include box-sizing(border-box);
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}
body {
  background-color: $second-color;
}

.head {
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-rows: 50% 50%;
  font-family: $first-font;
  .container {
    .backdrop {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba($color: #272727, $alpha: 0.9);
      pointer-events: none;
      display: none;
    }
    .backdropVisible {
      display: block;
      pointer-events: all;
    }
    z-index: 1;
    .menu {
      display: none;
    }
    .logo {
      display: none;
    }
    .mobile {
      display: flex;
      justify-content: space-between;
      background-color: $first-color;
      height: 60px;
      transition: opacity 0.5s 0.25s ease-out;

      .mobileLogo {
        width: 153px;
        padding: 5px 0 0 10px;
        img {
          width: 100%;
        }
      }
      .mobileMenu {
        margin: 10px 10px 0 10px;
      }
    }
    .mobile-fixed {
      display: flex;
      justify-content: space-between;
      background-color: $first-color;
      height: 60px;
      position: fixed;
      top: -130px;
      width: 100%;
      transition: 0.2s;
      .mobileLogo {
        width: 153px;
        padding: 5px 0 0 10px;
        img {
          width: 100%;
        }
      }
      .mobileMenu {
        margin: 10px 10px 0 10px;
      }
    }
    .menuCard {
      width: 270px;
      height: 100%;
      display: none;
      position: fixed;
      background-color: $first-color;
      padding: 0 0 20px 10px;

      .container {
        .close {
          display: flex;
          justify-content: flex-end;
          padding: 10px;
        }
        .menuList {
          display: flex;
          flex-flow: column;
          align-items: center;
          font-family: $second-font;
          line-height: 40px;
          font-size: 20px;
          margin-top: 100px;
          div {
            padding-bottom: 20px;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
        .menuSocial {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-top: 50px;
          a {
            width: 25px;
            margin-right: 10px;
            img {
              width: 100%;
            }
          }
          a:nth-child(3) {
            margin-right: 5px;
          }
        }
      }
    }
    .visible {
      animation: fade-slide-in 0.3s ease-out forwards;
      display: block;
    }
    .menuCardInit {
      width: 270px;
      height: 100%;
      display: none;
      position: fixed;
      background-color: $first-color;
      padding: 0 0 20px 10px;

      .container {
        .close {
          display: flex;
          justify-content: flex-end;
          padding: 10px;
        }
        .menuList {
          display: flex;
          flex-flow: column;
          align-items: center;
          font-family: $second-font;
          line-height: 40px;
          font-size: 20px;
          margin-top: 100px;
          div {
            padding-bottom: 20px;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
        .menuSocial {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-top: 50px;
          a {
            width: 25px;
            margin-right: 10px;
            img {
              width: 100%;
            }
          }
          a:nth-child(3) {
            margin-right: 5px;
          }
        }
      }
    }
    .visible {
      animation: fade-slide-in 0.3s ease-out forwards;
      display: block;
    }

    @keyframes fade-slide-in {
      from {
        transform: translateX(-15rem);
      }
      to {
        transform: translateX(0);
      }
    }
  }
  .containerFixed {
    display: none;
  }
  .wellcome {
    display: flex;
    justify-content: center;
    padding: 0 25px 0 15px;
    h1 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 3px;
      color: white;
    }
    .line {
      border-left: 2px solid $first-color;
      height: 22px;
      margin: 12px 0 0 6px;
    }
    .lines {
      margin-top: 12px;
      margin-left: 0;
      max-width: 363px;
      img {
        width: 100%;
        margin-left: 7px;
      }
    }
  }
}
footer {
  background-color: $first-color;
  margin-top: 100px;
  .container {
    padding: 5px 30px;

    h3 {
      font-family: $first-font;
      color: white;
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 4px;
    }
    div {
      font-family: $second-font;
      font-size: 15px;
      font-weight: lighter;
      color: white;
    }
    .contact {
      h3 {
        padding-bottom: 20px;
      }
      .phone {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        img {
          margin-right: 10px;
        }
      }
      .mail {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        img {
          margin-right: 10px;
        }
      }
      .gps {
        display: flex;
        align-items: center;
        margin-left: -1px;
        img {
          margin-right: 8px;
        }
      }
    }
    .links {
      h3 {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      div {
        padding-bottom: 10px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .social {
    width: 100%;
    font-family: $second-font;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    padding: 20px;
    div {
      text-align: center;
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      img {
        width: 50%;
      }

      a:nth-child(4) {
        margin-left: -7px;
      }
    }
  }
}
@include tablet {
  .head {
    height: 60vh;
    .container {
      .mobile {
        height: 90px;
        .mobileLogo {
          width: 187px;
          padding: 15px 0 0 20px;
          img {
            width: 100%;
          }
        }
        .mobileMenu {
          margin: 25px 15px 0 15px;
        }
      }
    }
    .wellcome {
      h1 {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 7px;
        color: white;
      }
      .line {
        border-left: 2px solid $first-color;
        height: 52px;
        margin-top: 22px;
      }
      .lines {
        margin-top: 0;
        img {
          margin: 38px 0 0 12px;
        }
      }
    }
  }
  footer {
    .container {
      display: grid;
      grid-template-columns: 60% 40%;
      padding: 20px 10px 130px 30px;
      .contact {
        display: grid;
        grid-template-rows: 40% 40% 30% 30% 30%;
        h3 {
          padding: 0;
          line-height: 90%;
          font-size: 24px;
          margin-top: 0;
        }
        .phone {
          grid-row: 3 / 4;
          align-self: center;
          padding-bottom: 0;
        }
        .mail {
          grid-row: 4 / 5;
          align-self: center;
          padding-bottom: 0;
        }
        .gps {
          grid-row: 5 / 6;
          align-self: center;
          padding-bottom: 0;
        }
      }
      .links {
        display: grid;
        grid-template-rows: 40% 40% 30% 30% 30%;
        h3 {
          font-size: 24px;
          margin-top: 0;
          line-height: 90%;
          padding: 0;
          letter-spacing: 2px;
        }
        div {
          padding: 0;
          margin-top: -4px;
          align-self: center;
          grid-row: 5 / 6;
        }
        div:nth-child(2) {
          grid-row: 3 / 4;
        }
        div:nth-child(3) {
          grid-row: 4 / 5;
        }
      }
    }
    .social {
      display: grid;
      grid-template-columns: 56% 40%;
      align-items: center;
      padding: 20px 0px 20px 46px;
      div {
        text-align: left;
      }
      .icons {
        padding: 0;
        justify-content: flex-start;
      }
    }
  }
}

@include laptop {
  .head {
    height: 80vh;
  }
}
@include web {
  .head {
    font-family: $first-font;
    height: 100vh;
    grid-template-rows: 45% 55%;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .mobile {
        display: none;
      }
      .logo {
        display: block;
        width: 300px;
        margin: 20px 40px 20px 40px;
        transition: opacity 0.5s 0.25s ease-out;

        img {
          width: 100%;
        }
      }
      .containerFixed {
        background-color: $first-color;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: -130px;
        font-family: $second-font;
        position: fixed;
        z-index: 999;
        transition: 0.2s;
        .menu-fixed {
          font-size: 18px;
          margin-right: 15px;
          padding: 40px 35px 0 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 1rem;
          div {
            margin-right: 30px;
            a {
              text-decoration: none;
              color: white;
              padding: 10px;
            }
            a:hover {
              background-color: rgba(255, 255, 255, 0.281);
            }
          }
        }
        .imgLogo {
          margin: 20px 40px 20px 50px;
          width: 195px;
          img {
            width: 100%;
          }
        }
      }

      .menu {
        display: flex;
        padding: 40px 30px 0 0;
        transition: opacity 0.5s 0.25s ease-out;

        div {
          font-size: 18px;
          margin-right: 30px;

          a {
            text-decoration: none;
            color: white;
            padding: 10px;
          }
          a:hover {
            background-color: rgba(255, 255, 255, 0.281);
          }
        }
      }
      .menu.is-visible {
        opacity: 1;
      }
    }
    .wellcome {
      padding-right: 70px;
      h1 {
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 7px;
        color: white;
        margin-top: 17px;
      }
      .line {
        border-left: 3px solid $first-color;
        height: 52px;
        margin-left: 20px;
      }
      .lines {
        margin-top: 0;
        img {
          margin-left: 25px;
        }
      }
    }
  }
  footer {
    .container {
      padding: 40px;
      margin-bottom: 20px;
      .contact {
        display: grid;
        grid-template-rows: 40% 30% 30% 30%;
        h3 {
          padding: 0;
          line-height: 90%;
          width: 90%;
          font-size: 24px;
          margin-top: 0;
        }
        .phone {
          margin-top: 20px;
          grid-row: 2 / 3;
          align-self: center;
          padding-bottom: 0;
        }
        .mail {
          grid-row: 3 / 4;
          align-self: center;
          padding-bottom: 0;
        }
        .gps {
          grid-row: 4 / 5;
          align-self: flex-start;
          padding-bottom: 0;
        }
      }
      .links {
        display: grid;
        grid-template-rows: 40% 25% 25% 25%;
        h3 {
          font-size: 24px;
          margin-top: 0;
          line-height: 90%;
          padding: 0;
          letter-spacing: 2px;
          grid-row: 1 / 2;
        }
        div {
          padding: 0;
          margin-top: 10px;
          // align-self: flex-start;
          grid-row: 4 / 5;
        }
        div:nth-child(2) {
          // align-self: flex-start;
          grid-row: 2 / 3;
        }
        div:nth-child(3) {
          // align-self: flex-start;
          grid-row: 3 / 4;
        }
      }
      .social {
        .icons {
          padding: 0 0 0 27px;
        }
      }
    }
  }
}
@include desktop {
  .head {
    font-family: $first-font;
    height: 100vh;
    grid-template-rows: 45% 55%;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .mobile {
        display: none;
      }
      .logo {
        display: block;
        width: 300px;
        margin: 20px 40px 20px 40px;
        img {
          width: 100%;
        }
      }

      .menu {
        display: flex;
        padding: 40px 30px 0 0;

        div {
          font-size: 18px;
          margin-right: 30px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .wellcome {
      padding-right: 70px;
      h1 {
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 7px;
        color: white;
        margin-top: 17px;
      }
      .line {
        border-left: 3px solid $first-color;
        height: 52px;
        margin-left: 20px;
      }
      .lines {
        margin-top: 0;
        img {
          margin-left: 25px;
        }
      }
    }
  }
  footer {
    background-color: $first-color;
    margin-top: 100px;
    .container {
      grid-template-columns: 10% 40% 50%;
      padding-bottom: 37px;

      h3 {
        font-family: $first-font;
        color: white;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 4px;
      }
      div {
        font-family: $second-font;
        font-size: 18px;
        font-weight: lighter;
        color: white;
      }
      .contact {
        grid-template-rows: 40% 30% 30% 10%;
        grid-column: 2 / 3;
        .phone {
          img {
            margin-right: 10px;
          }
        }
        .mail {
          // padding-bottom: 40px;
          img {
            margin-right: 10px;
          }
        }
        .gps {
          margin-left: -1px;
          img {
            margin-right: 8px;
          }
        }
      }
      .links {
        grid-template-rows: 50% 20% 20% 20%;
        justify-self: center;
        grid-column: 3 / 4;

        div {
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .social {
      grid-template-columns: 10% 45% 8% 16% 21%;

      div {
        grid-column: 2 / 3;
        font-size: 20px;
      }
      .icons {
        padding: 5px 0 0 0;
        grid-column: 4 / 5;
      }
    }
  }
}
