/* Media queries **/
@mixin mobile {
    @media (min-width: #{$mobile}){
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet}){
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$laptop}){
        @content;
    }
}
@mixin web {
    @media (min-width: #{$web}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}