$first-color: #F07D00;
$second-color: #272727;
$third-color: #B7B4B4;



$first-font: 'Raleway', sans-serif;
$second-font: 'Roboto', sans-serif;

$mobile : 360px;
$tablet : 768px;
$laptop : 1024px;
$web : 1200px;
$desktop : 1900px;
