@import "./common";

.contact-form {
  margin: 10px;
  .container {
    .form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 425px;
      h1 {
        width: 160px;
        padding: 1rem;
        border-radius: 0 15px 0 15px;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
        0px 0px 0px 0 rgba(255, 255, 255, 0.1),
        0px 0px 0px 0 rgba(0, 0, 0, 0.219),
        0px 0px 0px 0 rgba(255, 255, 255, 0.1);
      transition: box-shadow 2s 0.2s ease-out;
      will-change: box-shadow;
        font-family: $first-font;
        font-size: 27px;
        font-weight: 900;
        color: $first-color;
      }
      .is-visible {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
          3px 3px 3px 0 rgba(0, 0, 0, 0.219),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
      }
      form {
        padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        border-radius: 40px 0px 40px 0px;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
        0px 0px 0px 0 rgba(255, 255, 255, 0.1),
        0px 0px 0px 0 rgba(0, 0, 0, 0.219),
        0px 0px 0px 0 rgba(255, 255, 255, 0.1);
      transition: box-shadow 2s 0.2s ease-out;
      will-change: box-shadow;
        div {
          font-family: $second-font;
          font-size: 15px;
          color: $third-color;
          padding-bottom: 0.4rem;
        }

        button {
          background-color: $first-color;
          font-family: $second-font;
          font-size: 14px;
          color: white;
          border: 1px solid $first-color;
          border-radius: 4px;
          padding: 0.8rem 1.5rem;
          margin: 10px 0 20px 0;
          cursor: pointer;
        }

        .messageAjax {
          width: 100%;
          color: $third-color;
          background-color: #242424;
          border: 1px solid rgba(255, 255, 255, 0.055);
        }
      }
      .is-visible {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
          3px 3px 3px 0 rgba(0, 0, 0, 0.219),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
      }
      input {
        width: 100%;
        height: 40px;
        color: $third-color;
        margin-bottom: 0.4rem;
        background-color: #242424;
        border: 1px solid rgba(255, 255, 255, 0.055);
      }
      input::placeholder {
        font-size: 12px;
        font-family: $first-font;
      }
    }
  }
}
.map {
  .container {
    h1 {
      width: 160px;
      padding: 1rem;
      border-radius: 0 15px 0 15px;
      box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
        -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
        3px 3px 3px 0 rgba(0, 0, 0, 0.219),
        -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
      font-family: $first-font;
      font-size: 27px;
      font-weight: 900;
      color: $first-color;
    }
    .gps {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
@include tablet {
  .contact-form {
    margin: 20px;
    .container {
      display: flex;
      justify-content: space-between;
      .form {
        width: 350px;
      }
    }
  }
  .map {
    .container {
      flex-direction: column;
      .gps {
        width: 350px;
      }
    }
  }
}
@include laptop {
  .contact-form {
    margin: 20px;
    .container {
      .form {
        width: 400px;
      }
    }
  }
  .map {
    .container {
      .gps {
        width: 400px;
      }
    }
  }
}
@include web {
  .contact-form {
    margin: 30px;
    .container {
      .form {
        width: 500px;
      }
    }
  }
  .map {
    .container {
      .gps {
        width: 500px;
      }
    }
  }
}
@include desktop {
  .contact-form {
    margin: 40px;
    .container {
      .form {
        max-width: 700px;
      }
    }
  }
  .map {
    .container {
      flex-direction: column;
      .gps {
        width: 600px;
      }
    }
  }
}
