@import "./common";

.cards {
  max-width: 1300px;
  margin: 20px auto;
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      max-width: 330px;
      margin: 0 10px 40px 10px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.233), 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 0 rgba(0, 0, 0, 0.219), 0 0 0 0 rgba(255, 255, 255, 0.1);
      transition: box-shadow 0.2s 1.3s ease-out;
      will-change: box-shadow;

      h3 {
        font-family: $first-font;
        font-size: 25px;
        font-weight: 900;
        color: $first-color;
        padding-left: 20px;
      }
      p {
        font-family: $second-font;
        font-size: 15px;
        color: $third-color;
        line-height: 163%;
        padding: 0 20px;
      }
      .cardImg {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .card:nth-child(2) {
      transition: box-shadow 0.2s 1.5s ease-out;
    }
    .card:nth-child(3) {
      transition: box-shadow 0.2s 1.7s ease-out;
    }
    .card:nth-child(4) {
      transition: box-shadow 0.2s 1.9s ease-out;
    }
    .is-visible {
      box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
        -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
        3px 3px 3px 0 rgba(0, 0, 0, 0.219),
        -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
    }
  }
}
.showroom {
  .show {
    margin: 0 0 40px 10px;
    max-width: 288px;
    font-family: $first-font;
    font-size: 27px;
    color: $first-color;
    padding: 1rem;
    font-weight: 900;
    border-radius: 0 25px 0 25px;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
    0px 0px 0px 0 rgba(255, 255, 255, 0.1),
    0px 0px 0px 0 rgba(0, 0, 0, 0.219),
    0px 0px 0px 0 rgba(255, 255, 255, 0.1);
  transition: box-shadow 2s 0.2s ease-out;
  will-change: box-shadow;
  }
  .is-visible {
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
      -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
      3px 3px 3px 0 rgba(0, 0, 0, 0.219),
      -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
  }
  .showroomImg {
    display: grid;
    margin: 0 10px 0 10px;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: flex-start;
    column-gap: 5px;
    .img {
      img {
        width: 100%;
      }
    }
  }
}

@include tablet {
  .cards {
    .card:nth-child(2) {
      .cardImg {
        img {
          height: 220px;
        }
      }
    }
  }
  .showroom {
    h1 {
      margin-left: 20px;
    }
    .showroomImg {
      margin: 0 20px 0 20px;
      grid-template-columns: 33% 33% 33%;
    }
  }
}
@include laptop {
  .showroom {
    h1 {
      margin-left: 25px;
    }
  }
}
@include web {
  .cards {
    .contenedor {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      .card {
        max-width: 300px;
        margin-right: 15px;
      }
      .card:nth-child(2) {
        .cardImg {
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
@include desktop {
  .cards {
    max-width: 1920px;
    .contenedor {
      margin: 20px 40px 0 40px;
      .card {
        max-width: 427px;
        margin-right: 18px;
      }
      .card:nth-child(2) {
        .cardImg {
          img {
            height: 285px;
          }
        }
      }
    }
  }
  .showroom {
    .show {
      margin-left: 40px;
    }
    .showroomImg {
      margin: 0 40px 0 40px;
      grid-template-columns: 33% 33% 33%;
    }
  }
}
