@import "./common";

.about {
  margin: 10px;
  .container {
    .aboutUs {
      max-width: 425px;
      .show {
        width: 239px;
        padding: 1rem;
        border-radius: 0 15px 0 15px;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1),
          0px 0px 0px 0 rgba(0, 0, 0, 0.219),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1);
        transition: box-shadow 2s 0.2s ease-out;
        will-change: box-shadow;
        font-family: $first-font;
        font-size: 27px;
        font-weight: 900;
        color: $first-color;
      }
      .is-visible {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
          3px 3px 3px 0 rgba(0, 0, 0, 0.219),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
      }
      .description {
        .show-p {
          padding: 2rem;
          width: auto;
          height: auto;
          border-radius: 40px 0px 40px 0px;
          box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
            0px 0px 0px 0 rgba(255, 255, 255, 0.1),
            0px 0px 0px 0 rgba(0, 0, 0, 0.219),
            0px 0px 0px 0 rgba(255, 255, 255, 0.1);
          transition: box-shadow 2s 0.2s ease-out;
          will-change: box-shadow;
          font-family: $second-font;
          font-size: 15px;
          color: $third-color;
          line-height: 1.4rem;
        }
        .is-visible {
          box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
            -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
            3px 3px 3px 0 rgba(0, 0, 0, 0.219),
            -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
        }
        button {
          background-color: $first-color;
          font-family: $second-font;
          font-size: 14px;
          color: white;
          border: 1px solid $first-color;
          border-radius: 4px;
          padding: 0.8rem 1.5rem;
          margin: 10px 0 20px 0;
          cursor: pointer;
        }
      }
    }
    .aboutImg {
      div {
        img {
          width: 100%;
        }
      }
    }
  }
}
@include tablet {
  .about {
    margin: 15px;

    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
    }
    .aboutImg {
      padding: 0 0 0 10px;
    }
  }
}
@include desktop {
  .about {
    margin: 100px 40px 0 40px;
    .container {
      .aboutUs {
        width: 100%;
        align-self: flex-start;
        .show {
          padding: 1rem;
          border-radius: 0 15px 0 15px;
          font-family: $first-font;
          font-weight: 900;
          color: $first-color;
        }
        .description {
          .show-p {
            padding: 2rem;
            width: 450px;
            border-radius: 40px 0px 40px 0px;
            font-family: $second-font;
            font-size: 15px;
            color: $third-color;
            line-height: 1.7rem;
            transition: box-shadow 1s 0.2s ease-out;
            will-change: box-shadow;
          }

          button {
            background-color: $first-color;
            font-family: $second-font;
            font-size: 14px;
            color: white;
            border: 1px solid $first-color;
            border-radius: 4px;
            padding: 0.8rem 1.5rem;
            cursor: pointer;
          }
        }
      }
      .aboutImg {
        div {
          padding-top: 25px;
        }
      }
    }
  }
}
