@import "./common";

.products {
  margin: 10px;
  .container {
    .ourProducts {
      max-width: 425px;
      .show {
        width: 297px;
        padding: 1rem;
        border-radius: 0 15px 0 15px;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1),
          0px 0px 0px 0 rgba(0, 0, 0, 0.219),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1);
        transition: box-shadow 2s 0.2s ease-out;
        will-change: box-shadow;
        font-family: $first-font;
        font-size: 27px;
        font-weight: 900;
        color: $first-color;
      }
      .is-visible {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
          3px 3px 3px 0 rgba(0, 0, 0, 0.219),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
      }
      .description {
        .show-p {
          padding: 2rem;
          width: auto;
          height: auto;
          border-radius: 40px 0px 40px 0px;
          box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
            0px 0px 0px 0 rgba(255, 255, 255, 0.1),
            0px 0px 0px 0 rgba(0, 0, 0, 0.219),
            0px 0px 0px 0 rgba(255, 255, 255, 0.1);
          transition: box-shadow 2s 0.2s ease-out;
          will-change: box-shadow;
          font-family: $second-font;
          font-size: 15px;
          color: $third-color;
          line-height: 1.4rem;
        }
        .is-visible {
          box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
            -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
            3px 3px 3px 0 rgba(0, 0, 0, 0.219),
            -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
        }
        button {
          background-color: $first-color;
          font-family: $second-font;
          font-size: 14px;
          color: white;
          border: 1px solid $first-color;
          border-radius: 4px;
          padding: 0.8rem 1.5rem;
          margin: 10px 0 20px 0;
          cursor: pointer;
        }
      }
    }
    .differential {
      .show {
        width: 226px;
        padding: 1rem;
        border-radius: 0 15px 0 15px;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1),
          0px 0px 0px 0 rgba(0, 0, 0, 0.219),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1);
        transition: box-shadow 2s 0.2s ease-out;
        will-change: box-shadow;
        font-family: $first-font;
        font-size: 27px;
        font-weight: 900;
        color: $first-color;
        margin-bottom: 40px;
      }

      .is-visible {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
          3px 3px 3px 0 rgba(0, 0, 0, 0.219),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
      }
      .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .card {
          max-width: 400px;
          background-color: #242424;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 2rem;
          margin-bottom: 40px;
          .cardIcon {
            align-self: center;
          }
          h3 {
            font-family: $first-font;
            color: white;
            font-size: 20px;
            font-weight: 900;
            text-align: center;
          }
          p {
            font-family: $second-font;
            color: $third-color;
            font-size: 15px;
            line-height: 150%;
            text-align: center;
          }
        }
      }
    }
  }
}
.lines {
  margin: 10px;
  .container {
    .line {
      margin-bottom: 40px;
      .lineLogo {
        width: 200px;
        img {
          width: 100%;
        }
      }
      .fundation,
      .options {
        padding: 2rem;
        margin-top: 40px;
        border-radius: 40px 0px 40px 0px;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.233),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1),
          0px 0px 0px 0 rgba(0, 0, 0, 0.219),
          0px 0px 0px 0 rgba(255, 255, 255, 0.1);
        transition: box-shadow 2s 0.2s ease-out;
        will-change: box-shadow;
        h3 {
          font-family: $first-font;
          font-size: 25px;
          font-weight: 900;
          color: white;
        }
        p {
          font-family: $second-font;
          color: $third-color;
          line-height: 163%;
          font-size: 15px;
        }
        .list {
          div {
            display: flex;
            justify-content: flex-start;
            list-style: none;
            font-family: $second-font;
            color: $third-color;
            line-height: 163%;
            font-size: 15px;
            padding-bottom: 20px;
            i {
              margin-right: 10px;
            }
          }
        }
      }
      .is-visible {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.233),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1),
          3px 3px 3px 0 rgba(0, 0, 0, 0.219),
          -2px -1px 3px 0 rgba(255, 255, 255, 0.1);
      }
      .gallery {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(6, 1fr);
        column-gap: 5px;
        margin: 40px 0 0 0;
        .img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@include tablet {
  .products {
    margin: 20px;
    .container {
      .differential {
        .show {
          width: 375px;
        }
        .cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 30px;
          grid-template-rows: 529px 473px 575px;
          grid-template-areas:
            "one three two"
            "eight six seven"
            "eight five four";
          .card {
            max-width: 216px;
          }
          .card:nth-child(1) {
            grid-area: one;
          }
          .card:nth-child(2) {
            grid-area: two;
          }
          .card:nth-child(3) {
            grid-area: three;
          }
          .card:nth-child(4) {
            grid-area: four;
          }
          .card:nth-child(5) {
            grid-area: five;
            margin-top: -49px;
          }
          .card:nth-child(6) {
            grid-area: six;
            margin-top: -19px;
          }
          .card:nth-child(7) {
            grid-area: seven;
          }
          .card:nth-child(8) {
            grid-area: eight;
            margin-top: -84px;
          }
        }
      }
    }
  }
  .lines {
    margin: 20px;
    .container {
      .line {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 25px;
        grid-template-areas:
          "one one"
          "two three"
          "four four";

        .lineLogo {
          grid-area: one;
        }
        .fundation {
          grid-area: two;
          height: 530px;
        }
        .options {
          grid-area: three;
        }
        .gallery {
          grid-area: four;
          grid-template-columns: 25% 25% 25% 25%;
          grid-template-rows: none;
        }
      }
      .line:nth-child(2) {
        .fundation {
          height: 450px;
        }
      }
      .line:nth-child(3) {
        .fundation {
          height: 250px;
        }
      }
    }
  }
}
@include laptop {
  .products {
    .container {
      .differential {
        .cards {
          grid-template-columns: repeat(4, 1fr);
          column-gap: 30px;
          grid-template-rows: 529px 740px;
          grid-template-areas:
            "one three four two"
            "five six seven eight";
          .card:nth-child(5) {
            margin-top: -86px;
          }
          .card:nth-child(6) {
            margin-top: -24px;
          }
          .card:nth-child(7) {
            margin-top: -13px;
          }
          .card:nth-child(8) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
@include web {
  .products {
    .container {
      display: flex;
      justify-content: space-between;
      margin: 0 30px 0 20px;
      .ourProducts {
        max-width: 340px;
      }
      .differential {
        h1 {
          margin-bottom: 20px;
        }
        .cards {
          column-gap: 7px;
          .card:nth-child(5) {
            margin-top: -115px;
          }
          .card:nth-child(6) {
            margin-top: -52px;
          }
          .card:nth-child(7) {
            margin-top: -42px;
          }
          .card:nth-child(8) {
            margin-top: -29px;
          }
        }
      }
    }
  }
  .lines {
    margin: 30px;
    .container {
      .line {
        // display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 5% 95%;
        grid-template-areas:
          "one one one"
          "two three four";
        .gallery {
          grid-template-columns: 50% 50%;
          grid-template-rows: repeat(6, 1fr);
        }
      }
    }
  }
}
@include desktop {
  .products {
    .container {
      margin: 0 40px 0 30px;
      .ourProducts {
        max-width: 425px;
      }
    }
  }
  .lines {
    margin: 40px;
    .container {
      .line {
        .fundation {
          height: 420px;
        }
        .options {
          height: 700px;
        }
      }
      .line:nth-child(2) {
        .fundation {
          height: 400px;
        }
      }
    }
  }
}
