html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #F07D00;
}

.message {
  width: auto;
  height: auto;
  background-color: #272727;
  padding: 40px;
}
p {
  color: white;
  font-weight: 200;
  font-family: Roboto;
  font-size: 1.5rem;
  text-align: center;
}

p:nth-child(3) {
  margin-top: 100px;
  font-size: 1rem;
}

a {
  color: #d3cfc7;
}

@media screen and (min-width: 768px) {
  .message {
    width: 765px;
    height: 552px;
    padding: 59px;
  }

  p {
    font-size: 3rem;
  }

  p:nth-child(3) {
    margin-top: 100px;
    font-size: 2rem;
  }
}
